av==14.2.0
bitsandbytes==0.45.3
fire==0.7.0
folium==0.19.4
matplotlib
networkx==3.4.2
nltk==3.9.1
numpy==2.3.1
osmnx==2.0.4
pandas==2.3.0
peft
Pillow==11.2.1
psutil==7.0.0
pydantic==2.11.7
pytest==8.4.1
pyvirtualdisplay==3.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
rich==14.0.0
rouge_chinese==1.0.3
seaborn==0.13.2
setuptools==75.8.0
Shapely==2.1.1
sse_starlette==2.2.1
stable_baselines3==2.6.0
streamlit
streamlit_folium
sumolib==1.22.0
supersuit==3.10.0
tqdm==4.67.1
traci==1.22.0
typing_extensions==4.14.0
uvicorn==0.35.0
plotly
streamlit_plotly_events

